<div id="header">
    <nav>
        <ul>
            <li><a href="#">ツイート</a></li>
            <li><a href="#">ツイートと返信</a></li>
            <li><a href="#">メディア</a></li>
            <li><a href="#">いいね</a></li>
        </ul>
    </nav>
</div>