<div id="sidebar">
    <nav>
        <ul>
            <li><a href="#"><i class="fa-solid fa-house-user"></i>ホーム</a></li>
            <li><a href="#">＃話題を検索</a></li>
            <li><a href="#">通知</a></li>
            <li><a href="#">メッセージ</a></li>
            <li><a href="#">ブックマーク</a></li>
            <li><a href="#">プロフィール</a></li>
            <li><a href="#">もっと見る</li>
            <li><a href="#">ツイートする</a></li>
            
        </ul>
    </nav>
</div>